#header {
  width: 100%;
  padding: 22px 0 40px 0;
  h1 {
    width: 191px;
    height: 11px;
    margin-top: 20px;
    background: url('../img/simulado-logo.png');
    text-indent: -99999px;
    float: left;
    @media #{$mq} {
      float: inherit;
      margin: 20px auto 0 auto;
    }
  }
  img {
    float: right;
    margin-bottom: 40px;
    width: 275px;
    @media #{$mq} {
      float: inherit;
      margin: 0 auto 40px auto;
    }
  }
}
