#header {
  width: 100%;
  padding: 22px 0 40px 0;
  h1 {
    width: 191px;
    height: 11px;
    margin-top: 20px;
    background: url('../img/simulado-logo.png');
    text-indent: -99999px;
    float: left;
  }
  img {
    float: right;
    margin-bottom: 40px;
  }
}
