.menuSimulado {
  width: 160px;
  float: left;
  li {
    list-style-type: disclosure-closed;
    margin-left: -20px;
    padding: 0;
    border: 0;
    li {
      list-style-type: none;
    }
  }
  p {
    font-weight: bold;
  }
  .alteraListType {
    list-style-type: disclosure-open;
  }
  @media #{$mq} {
    width: 100%;
    float: inherit;
  }
}
