#principal {
  width: 651px;
  margin: 0 auto 0 auto;
}

.alteraFonte {
  a {
    padding: 2px;
    color: #fff;
    background-color: #444;
    text-decoration: none;
  }
}

.menuSimulado {
  width: 160px;
  float: left;
  li {
    list-style-type: disclosure-closed;
    margin-left: -20px;
    padding: 0;
    border: 0;
    li {
      list-style-type: none;
    }
  }
  a {
    color: #555;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
  p {
    font-weight: bold;
  }
  .alteraListType {
    list-style-type: disclosure-open;
  }
}

.principalDireita {
  width: 491px;
  float: right;
}
