#principal {
  width: 651px;
  margin: 0 auto 0 auto;
}

.principalDireita {
  width: 491px;
  float: right;
  margin-bottom: 40px;
  select {
    width: 32.9%;
    margin: auto;
  }
  .buscar {
    background-color: #ecf1f9;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    button {
      background-color: $cor3;
      color: $cor2;
      padding: 3px;
      margin: 2px;
      border: 0;
    }
  }
}
