body {
  background: url('../img/background-lateral.png') top left no-repeat,
    url('../img/background.png') top left repeat-x;
  font-family: Arial;
  font-size: 0.7em;
  margin-bottom: 30px;
}

h2 {
  text-transform: uppercase;
}

a {
  color: $cor3;
  text-decoration: none;
  &:hover {
    color: $cor1;
  }
}

#container {
  width: 737px;
  margin: 0 auto 0 auto;
  @media #{$mq} {
    width: 100%;
  }
}

.row {
  width: 100%;
  clear: both;
}
