<div class="row alteraTamanhoFonte">
  <a class="aumentaFonte" href="">A+</a>&nbsp;<a class="diminuiFonte" href="">A-</a>
</div>

<div class="menuSimulado">
  <p>Simulados de 2008</p>
  <menu-simulados></menu-simulados>
</div>

<div class="principalDireita" ng-show="vm.nomeSimuladoAtivo == ''">SELECIONE O SIMULADO DESEJADO NO MENU AO LADO</div>
<div class="principalDireita" ng-show="vm.nomeSimuladoAtivo != ''">
  <h2>{{vm.nomeSimuladoAtivo}} - {{vm.nomeProvaObjetivaFinal}}</h2>
  <p>
    Os resultados do simulado são atualizados diariamente, na medida em que os cartões-resposta e as provas discursivas vão sendo são processados.
  </p>
  <p>
    Através dos filtros, você poderá criar rankings personalizados por ESPECIALIDADE, TURMA (curso) e UNIDADE (cidade).
  </p>
  <div class="buscar">
    Entre com sua matrícula: <input type="text"/><button type="button" ng-click="vm.gerarRanking()">procurar</button>
  </div>
  <br/>
  Filtrar por:
  <br/>
  <select ng-model="vm.filtrarEspecialidade">
    <option value="">Especialidade - TODAS</option>
    <option value="CLÍNICA MÉDICA">CLÍNICA MÉDICA</option>
    <option value="CIRURGIA GERAL">CIRURGIA GERAL</option>
  </select>
  <select ng-model="vm.filtrarFilial">
    <option value="">Filiais - TODAS</option>
    <option value="São Paulo (SP)">São Paulo (SP)</option>
    <option value="Salvador (BA)">Salvador (BA)</option>
  </select>
  <select ng-model="vm.filtrarTurma">
    <option value="">Turmas - TODAS</option>
    <option value="2008 MEDCURSO SÃO PAULO">2008 MEDCURSO SÃO PAULO</option>
    <option value="2008 MEDCURSO SALVADOR">2008 MEDCURSO SALVADOR</option>
  </select>
</div>

<div ng-show="vm.rankingTotal != null">

  <div class="row">
    <span class="barraImprimirEsq">
      <a href="" ng-click="vm.visualizarImpressao = true">imprimir</a> | <a href="" ng-click="vm.enviarParaUmAmigo = true">enviar para um amigo</a>
    </span>
    <span class="barraImprimirDir">
      foram encontrados {{}} registros
    </span>
  </div>
  <barra-paginacao></barra-paginacao>

  <diretiva-ranking></diretiva-ranking>

  <barra-paginacao></barra-paginacao>
  <div class="row">
    <span class="barraImprimirEsq">
      <a href="" ng-click="vm.visualizarImpressao = true">imprimir</a> | <a href="" ng-click="vm.enviarParaUmAmigo = true">enviar para um amigo</a>
    </span>
    <span class="barraImprimirDir">
      <a href="" ng-click="vm.subirPagina()"><span class="material-icons">arrow_drop_up</span> topo</a>
    </span>
  </div>

  <div class="lightbox" id="imprimir" ng-show="vm.visualizarImpressao">
    <div class="lightboxInside">
      <a href="" ng-click="vm.imprimir()">imprimir</a> | <a href="" ng-click="vm.visualizarImpressao = false">fechar</a>
      <diretiva-ranking></diretiva-ranking>
    </div>
  </div>

  <div class="lightbox" ng-show="vm.enviarParaUmAmigo">
    <div class="lightboxInside">
      <p><a href="" ng-click="vm.enviarParaUmAmigo = false">fechar</a></p>
      <p>Hello World!</p>
    </div>
  </div>

</div>
